# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit privcyd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/privcy/privcy.conf

[Unit]
Description=PRiVCY daemon
After=network.target

[Service]
ExecStart=/usr/bin/privcyd -daemon -conf=/etc/privcy/privcy.conf -pid=/run/privcyd/privcyd.pid
# Creates /run/privcy owned by privcycore
RuntimeDirectory=privcyd
User=privcycore
Type=forking
PIDFile=/run/privcyd/privcyd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
